#title{
 
 max-width: 100%;
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: 100%;
 width: 100%;
 padding-top: 20%;
 padding-bottom: 20%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  