#title{
 background-image: url(OIP.jpg);
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 padding-top: 15%;
 padding-bottom: 15%;
 height: auto;
}