body{
    background-color: rgb(235, 247, 252);
}
#menu
{
    font-weight: bold;
}
h1{
    font-size: 100px;
}
a
{
    text-decoration: none;
    font-size: 120%;
    color: grey;
    /*background-color: black;*/
}
