:root {
    --backpurple:#EDEAF3;
    --black: #35323B;
    --white: #FFFFFF;
    --purple: rgb(208, 201, 225)

  }
  body {
    font-family: 'Merienda One';
}
.navbar{
    background-color: var(--backpurple);
}
.navbar>a{
 color: var(--black);
 font-size:85%;
}
.logo{
    background-color: var(--purple);
}
.navbar>a:hover{
 color: var(--purple);
}


a{
    text-decoration: none;
}
.navbar >button:hover{
    background-color: var(--backpurple);
    text-decoration: none;
    color: var(--white);
}
.navbar >button:active{
    background-color: var(--backpurple);
    text-decoration: none;
    color: var(--white);
}



/* heading*/
.heading{
 color: var(--black);
}

.bottom-left {
    background-color: rgb(208, 201, 225,0.8);
    position: absolute;
    bottom: 8px;
    left: 16px;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    width: 80%;
    color: var(--black);
    font-size: 36px;
  }
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
.content{
    margin: 5%;
}
.post{

}



